<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <% if (orders.length > 0) { %>
            <ul class="cart__item-list">
            <% orders.forEach(order => { %>
                <li class="cart__item">
                    <p>Order #<%= order._id %></p>
                    <ul>
                        <% order.items.forEach(product => { %>
                            <li><%= product.title %> (<%= product.quantity %>)</li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
            </ul>
        <% } else { %>
            <main>
                <h1>Nothing there!</h1>
            </main>
        <% } %>
        <%- include('../includes/end.ejs') %>